<!-- チャットルームのビュー -->
<div class="container">
  <div class="row">
    <% @entries.each do |e| %>
      <% if @myUserId != e.user.id %>
        <div class="col-12">
          <h2><%= e.user.name %>さんとのチャット</h2>
        </div>
      <% end %>
    <% end %>
    
    <div class="col-12">
      <%= link_to "Back to Users", users_path, class: "btn btn-sm btn-outline-primary mb-3" %>
    </div>
    
    <% if @messages.present? %>
      <div class="col-12">
        <% @messages.each do |m| %>
          <% if @myUserId == m.user.id %>
          <div class="message mb-1 border pl-1">
            <div class="message-user font-weight-bold text-warning"><%= m.user.name %></div>
            <div class="message-content"><%= m.message %></div>
          </div>
          <% else %>
          <div class="other-message mb-1 border pl-1">
            <div class="message-user font-weight-bold text-secondary"><%= m.user.name %></div>
            <div class="message-content"><%= m.message %></div>
          </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    
    <div class="col-12">
      <%= form_for @message do |f| %>
        <%= f.text_field :message, placeholder: "メッセージを入力してください", size: 50, class: "form-text-field mt-1" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "投稿", class: "form-submit btn btn-primary mb-1 mx-1 btn-sm" %>
      <% end %>
    </div>
  </div>
</div>
